<!DOCTYPE html>
<html>
  <head>
    <title>영화 목록</title>
  </head>
  <body>
    <center>
    <h1>영화 목록</h1>
    <div id="tags">
        <a href="http://127.0.0.1:5000/firstcloud/Jangsanbum"><img src="{{url_for('static', filename='장산범.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Taxi"><img src="{{url_for('static', filename='택시운전사.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Police"><img src="{{url_for('static', filename='청년경찰.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/kunhamdo"><img src="{{url_for('static', filename='군함도.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Veteran"><img src="{{url_for('static', filename='베테랑.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='덩케르트.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='스파이더맨홈커밍.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='트랜스포머.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='혹성탈출.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='애나벨.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='브이아이피.jpg')}}" width=300 height=450></a>
        <a href="http://127.0.0.1:5000/firstcloud/Dunkirk"><img src="{{url_for('static', filename='라라랜드.jpg')}}" width=300 height=450></a>
    </div>
    </center>
  </body>
</html>